<mat-drawer-container [class]="selectedTheme">
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Toolbar</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="menu-button"
      matTooltip="Select a theme color"
    >
      <mat-icon> brightness_6 </mat-icon>
    </button>
    <ng-template #noRadio> radio_button_unchecked </ng-template>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeTheme('light-theme')">
        <mat-icon [color]="selectedTheme === 'light-theme' ? 'accent' : ''">
          <ng-container *ngIf="selectedTheme === 'light-theme'; else noRadio">
            radio_button_checked
          </ng-container>
        </mat-icon>
        Light Theme
      </button>
      <button mat-menu-item (click)="changeTheme('dark-theme')">
        <mat-icon [color]="selectedTheme === 'dark-theme' ? 'accent' : ''">
          <ng-container *ngIf="selectedTheme === 'dark-theme'; else noRadio">
            radio_button_checked
          </ng-container>
        </mat-icon>
        Dark Theme
      </button>
      <button mat-menu-item (click)="changeTheme('system-theme')">
        <mat-icon [color]="selectedTheme === 'system-theme' ? 'accent' : ''">
          <ng-container *ngIf="selectedTheme === 'system-theme'; else noRadio">
            radio_button_checked
          </ng-container>
        </mat-icon>
        System Theme
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-drawer #sidenav mode="over">
    <app-drawer (closeDrawer)="sidenav.close()"></app-drawer>
  </mat-drawer>
  <mat-sidenav-container class="application-wrapper">
    <mat-sidenav-content>
      <!-- Application Content -->
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-drawer-container>
