
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '@material/layout-grid/mdc-layout-grid';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import "./assets/theme/app-theme.scss";
@import "./assets/theme/components-theme.scss";

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

.system-theme {
  @media(prefers-color-scheme: light) {
    @include angular-material-theme($light-theme);
  }
  @media(prefers-color-scheme: dark) {
    @include angular-material-theme($dark-theme);
  }
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  margin: auto;

  & > *:not(:last-child) {
   margin-bottom: 1rem;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    .mat-form-field {
      flex-grow: 1;
      &:last-child {
        margin-left: 0.5rem;
      }
      &:first-child {
        margin-right: 0.5rem;
      }
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &__button .mat-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-expansion-panel-body {
    display: flex;
    flex-direction: column;
    .auth-form__button:not(:last-child) { margin-bottom: 1rem; }
  }
}
